#vegetable-baguette-ingredients.lightbox
    ul.ingredients
        h3 Ingredientes baguette vegetal:
        each vegetableIngredients in vegetableBaguetteIngredients
            li= vegetableIngredients
        center
            h4 Alérgenos:
            img.ingredients__allergen(src='assets/img/gallery/gluten.svg' alt='gluten')
            img.ingredients__allergen(src='assets/img/gallery/crustaceans.svg' alt='crustaceans')
            img.ingredients__allergen(src='assets/img/gallery/fish.svg' alt='fish')
            img.ingredients__allergen(src='assets/img/gallery/egg.svg' alt='egg')
            img.ingredients__allergen(src='assets/img/gallery/dairyProducts.svg' alt='dairy products')
            img.ingredients__allergen(src='assets/img/gallery/sulfurDioxideSulphites.svg' alt='sulfur dioxide sulphites')

            h3 Con menú:
                p Baguette vegetal +Bebida +Patatas
                p 4,30€
                .ingredients__img
                    img(src="assets/img/baguette-min.png")
                    img(src="assets/img/drink-min.png")
                    img(src="assets/img/chips-min.png")

#tuna-baguette-ingredients.lightbox
    ul.ingredients
        h3 Ingredientes baguette de atún:
        each tunaIngredients in tunaBaguetteIngredients
            li= tunaIngredients
        center
            h4 Alérgenos:
            img.ingredients__allergen(src='assets/img/gallery/gluten.svg' alt='gluten')
            img.ingredients__allergen(src='assets/img/gallery/fish.svg' alt='fish')
            img.ingredients__allergen(src='assets/img/gallery/egg.svg' alt='egg')
            img.ingredients__allergen(src='assets/img/gallery/dairyProducts.svg' alt='dairy products')
            img.ingredients__allergen(src='assets/img/gallery/sulfurDioxideSulphites.svg' alt='sulfur dioxide sulphites')

            h3 Con menú:
                p Baguette de atún +Bebida +Patatas
                p 4,30€
                .ingredients__img
                    img(src="assets/img/baguette-min.png")
                    img(src="assets/img/drink-min.png")
                    img(src="assets/img/chips-min.png")

#ham-baguette-ingredients.lightbox
    ul.ingredients
        h3 Ingredientes baguette de jamón:
        each hamIngredients in hamBaguetteIngredients
            li= hamIngredients
        center
            h4 Alérgenos:
            img.ingredients__allergen(src='assets/img/gallery/gluten.svg' alt='gluten')
            img.ingredients__allergen(src='assets/img/gallery/sulfurDioxideSulphites.svg' alt='sulfur dioxide sulphites')

            h3 Con menú:
                p Baguette de jamón +Bebida +Patatas
                p 4,50€
                .ingredients__img
                    img(src="assets/img/baguette-min.png")
                    img(src="assets/img/drink-min.png")
                    img(src="assets/img/chips-min.png")

#chicken-baguette-ingredients.lightbox
    ul.ingredients
        h3 Ingredientes baguette de pollo:
        each chickenIngredients in chickenBaguetteIngredients
            li= chickenIngredients
        center
            h4 Alérgenos:
            img.ingredients__allergen(src='assets/img/gallery/gluten.svg' alt='gluten')
            img.ingredients__allergen(src='assets/img/gallery/sulfurDioxideSulphites.svg' alt='sulfur dioxide sulphites')

            h3 Con menú:
                p Baguette de pollo +Bebida +Patatas
                p 4,50€
                .ingredients__img
                    img(src="assets/img/baguette-min.png")
                    img(src="assets/img/drink-min.png")
                    img(src="assets/img/chips-min.png")

#bacon-baguette-ingredients.lightbox
    ul.ingredients
        h3 Ingredientes baguette de bacon:
        each baconIngredients in baconBaguetteIngredients
            li= baconIngredients
        center
            h4 Alérgenos:
            img.ingredients__allergen(src='assets/img/gallery/gluten.svg' alt='gluten')
            img.ingredients__allergen(src='assets/img/gallery/dairyProducts.svg' alt='dairy products')
            img.ingredients__allergen(src='assets/img/gallery/sulfurDioxideSulphites.svg' alt='sulfur dioxide sulphites')

            h3 Con menú:
                p Baguette de bacon y queso +Bebida +Patatas
                p 4,50€
                .ingredients__img
                    img(src="assets/img/baguette-min.png")
                    img(src="assets/img/drink-min.png")
                    img(src="assets/img/chips-min.png")

#tortilla-baguette-ingredients.lightbox
    ul.ingredients
        h3 Ingredientes baguette de tortilla francesa:
        each tortillaIngredients in tortillaBaguetteIngredients
            li= tortillaIngredients
        center
            h4 Alérgenos:
            img.ingredients__allergen(src='assets/img/gallery/gluten.svg' alt='gluten')
            img.ingredients__allergen(src='assets/img/gallery/egg.svg' alt='egg')
            img.ingredients__allergen(src='assets/img/gallery/sulfurDioxideSulphites.svg' alt='sulfur dioxide sulphites')

            h3 Con menú:
                p Baguette de tortilla francesa +Bebida +Patatas
                p 4,30€
                .ingredients__img
                    img(src="assets/img/baguette-min.png")
                    img(src="assets/img/drink-min.png")
                    img(src="assets/img/chips-min.png")

#hamtortilla-baguette-ingredients.lightbox
    ul.ingredients
        h3 Ingredientes baguette de tortilla de jamón:
        each hamTortillaIngredients in hamTortillaBaguetteIngredients
            li= hamTortillaIngredients
        center
            h4 Alérgenos:
            img.ingredients__allergen(src='assets/img/gallery/gluten.svg' alt='gluten')
            img.ingredients__allergen(src='assets/img/gallery/egg.svg' alt='egg')
            img.ingredients__allergen(src='assets/img/gallery/sulfurDioxideSulphites.svg' alt='sulfur dioxide sulphites')

            h3 Con menú:
                p Baguette de tortilla y jamón +Bebida +Patatas
                p 4,50€
                .ingredients__img
                    img(src="assets/img/baguette-min.png")
                    img(src="assets/img/drink-min.png")
                    img(src="assets/img/chips-min.png")

#maigrette-baguette-ingredients.lightbox
    ul.ingredients
        h3 Ingredientes baguette de magreta:
        each maigretteIngredients in maigretteBaguetteIngredients
            li= maigretteIngredients
        center
            h4 Alérgenos:
            img.ingredients__allergen(src='assets/img/gallery/gluten.svg' alt='gluten')
            img.ingredients__allergen(src='assets/img/gallery/sulfurDioxideSulphites.svg' alt='sulfur dioxide sulphites')

            h3 Con menú:
                p Baguette de magreta +Bebida +Patatas
                p 4,50€
                .ingredients__img
                    img(src="assets/img/baguette-min.png")
                    img(src="assets/img/drink-min.png")
                    img(src="assets/img/chips-min.png")

#loin-baguette-ingredients.lightbox
    ul.ingredients
        h3 Ingredientes baguette de lomo:
        each loinIngredients in loinBaguetteIngredients
            li= loinIngredients
        center
            h4 Alérgenos:
            img.ingredients__allergen(src='assets/img/gallery/gluten.svg' alt='gluten')
            img.ingredients__allergen(src='assets/img/gallery/sulfurDioxideSulphites.svg' alt='sulfur dioxide sulphites')

            h3 Con menú:
                p Baguette de lomo +Bebida +Patatas
                p 4,50€
                .ingredients__img
                    img(src="assets/img/baguette-min.png")
                    img(src="assets/img/drink-min.png")
                    img(src="assets/img/chips-min.png")

#freshloin-baguette-ingredients.lightbox
    ul.ingredients
        h3 Ingredientes baguette de lomo fresco:
        each freshLoinIngredients in freshLoinBaguetteIngredients
            li= freshLoinIngredients
        center
            h4 Alérgenos:
            img.ingredients__allergen(src='assets/img/gallery/gluten.svg' alt='gluten')
            img.ingredients__allergen(src='assets/img/gallery/sulfurDioxideSulphites.svg' alt='sulfur dioxide sulphites')

            h3 Con menú:
                p Baguette de lomo fresco +Bebida +Patatas
                p 4,50€
                .ingredients__img
                    img(src="assets/img/baguette-min.png")
                    img(src="assets/img/drink-min.png")
                    img(src="assets/img/chips-min.png")

#squid-baguette-ingredients.lightbox
    ul.ingredients
        h3 Ingredientes baguette de calamares:
        each squidIngredients in squidBaguetteIngredients
            li= squidIngredients
        center
            h4 Alérgenos:
            img.ingredients__allergen(src='assets/img/gallery/gluten.svg' alt='gluten')
            img.ingredients__allergen(src='assets/img/gallery/mollusks.svg' alt='mollusks')
            img.ingredients__allergen(src='assets/img/gallery/sulfurDioxideSulphites.svg' alt='sulfur dioxide sulphites')

            h3 Con menú:
                p Baguette de calamares +Bebida +Patatas
                p 4,50€
                .ingredients__img
                    img(src="assets/img/baguette-min.png")
                    img(src="assets/img/drink-min.png")
                    img(src="assets/img/chips-min.png")

#sausages-baguette-ingredients.lightbox
    ul.ingredients
        h3 Ingredientes baguette de salchichas:
        each sausagesIngredients in sausagesBaguetteIngredients
            li= sausagesIngredients
        center
            h4 Alérgenos:
            img.ingredients__allergen(src='assets/img/gallery/gluten.svg' alt='gluten')
            img.ingredients__allergen(src='assets/img/gallery/sulfurDioxideSulphites.svg' alt='sulfur dioxide sulphites')

            h3 Con menú:
                p Baguette de salchichas +Bebida +Patatas
                p 4,50€
                .ingredients__img
                    img(src="assets/img/baguette-min.png")
                    img(src="assets/img/drink-min.png")
                    img(src="assets/img/chips-min.png")

#special-baguette-ingredients.lightbox
    ul.ingredients
        h3 Ingredientes baguette de calamares:
        each specialIngredients in specialBaguetteIngredients
            li= specialIngredients
        center
            h4 Alérgenos:
            img.ingredients__allergen(src='assets/img/gallery/gluten.svg' alt='gluten')
            img.ingredients__allergen(src='assets/img/gallery/dairyProducts.svg' alt='dairy products')
            img.ingredients__allergen(src='assets/img/gallery/sulfurDioxideSulphites.svg' alt='sulfur dioxide sulphites')

            h3 Con menú:
                p Baguette especial +Bebida +Patatas
                p 4,50€
                .ingredients__img
                    img(src="assets/img/baguette-min.png")
                    img(src="assets/img/drink-min.png")
                    img(src="assets/img/chips-min.png")
