#normal-burger-ingredients.lightbox
    ul.ingredients
        h3 Ingredientes hamburguesa normal:
        each normalIngredients in normalBurgerIngredients
            li= normalIngredients
        center
            h4 Alérgenos:
            img.ingredients__allergen(src='assets/img/gallery/gluten.svg' alt='gluten')
            img.ingredients__allergen(src='assets/img/gallery/sesameGrains.svg' alt='sesame grains')
            img.ingredients__allergen(src='assets/img/gallery/sulfurDioxideSulphites.svg' alt='sulfur dioxide sulphites')

#crispycukys-burger-ingredients.lightbox
    ul.ingredients
        h3 Ingredientes hamburguesa crispy-cukys:
        each crispyCukysIngredients in crispyCukysBurgerIngredients
            li= crispyCukysIngredients

#egg-burger-ingredients.lightbox
    ul.ingredients
        h3 Ingredientes hamburguesa con huevo:
        each eggIngredients in eggBurgerIngredients
            li= eggIngredients
        center
            h4 Alérgenos:
            img.ingredients__allergen(src='assets/img/gallery/gluten.svg' alt='gluten')
            img.ingredients__allergen(src='assets/img/gallery/egg.svg' alt='egg')
            img.ingredients__allergen(src='assets/img/gallery/sesameGrains.svg' alt='sesame grains')
            img.ingredients__allergen(src='assets/img/gallery/sulfurDioxideSulphites.svg' alt='sulfur dioxide sulphites')

#bacon-burger-ingredients.lightbox
    ul.ingredients
        h3 Ingredientes hamburguesa con bacon:
        each baconIngredients in baconBurgerIngredients
            li= baconIngredients
        center
            h4 Alérgenos:
            img.ingredients__allergen(src='assets/img/gallery/gluten.svg' alt='gluten')
            img.ingredients__allergen(src='assets/img/gallery/sesameGrains.svg' alt='sesame grains')
            img.ingredients__allergen(src='assets/img/gallery/sulfurDioxideSulphites.svg' alt='sulfur dioxide sulphites')

#cheese-burger-ingredients.lightbox
    ul.ingredients
        h3 Ingredientes hamburguesa con queso:
        each cheeseIngredients in cheeseBurgerIngredients
            li= cheeseIngredients
        center
            h4 Alérgenos:
            img.ingredients__allergen(src='assets/img/gallery/gluten.svg' alt='gluten')
            img.ingredients__allergen(src='assets/img/gallery/dairyProducts.svg' alt='dairy products')
            img.ingredients__allergen(src='assets/img/gallery/sesameGrains.svg' alt='sesame grains')
            img.ingredients__allergen(src='assets/img/gallery/sulfurDioxideSulphites.svg' alt='sulfur dioxide sulphites')

#super-burger-ingredients.lightbox
    ul.ingredients
        h3 Ingredientes hamburguesa super:
        each superIngredients in superBurgerIngredients
            li= superIngredients
        center
            h4 Alérgenos:
            img.ingredients__allergen(src='assets/img/gallery/gluten.svg' alt='gluten')
            img.ingredients__allergen(src='assets/img/gallery/egg.svg' alt='egg')
            img.ingredients__allergen(src='assets/img/gallery/dairyProducts.svg' alt='dairy products')
            img.ingredients__allergen(src='assets/img/gallery/sesameGrains.svg' alt='sesame grains')
            img.ingredients__allergen(src='assets/img/gallery/sulfurDioxideSulphites.svg' alt='sulfur dioxide sulphites')

#premiumbovine-burger-ingredients.lightbox
    ul.ingredients
        h3 Ingredientes hamburguesa premium vacuno:
        each premiumBovineIngredients in premiumBovineBurgerIngredients
            li= premiumBovineIngredients

#burgerxl-burger-ingredients.lightbox
    ul.ingredients
        h3 Ingredientes hamburguesa XL:
        each burgerXLIngredients in burgerXLBurgerIngredients
            li= burgerXLIngredients
