#normal-burger-ingredients.lightbox
    ul.ingredients
        h3 Ingredientes hamburguesa normal:
        each normalIngredients in normalBurgerIngredients
            li= normalIngredients
        center
            h4 Alérgenos:
            img.ingredients__allergen(src='assets/img/gallery/gluten.svg' alt='gluten')
            img.ingredients__allergen(src='assets/img/gallery/sesameGrains.svg' alt='sesame grains')
            img.ingredients__allergen(src='assets/img/gallery/sulfurDioxideSulphites.svg' alt='sulfur dioxide sulphites')

            h3 Con menú:
            p Hamburguesa normal +Bebida +Patatas
            p 5,00€
            .ingredients__img
                img(src="assets/img/burger-min.png")
                img(src="assets/img/drink-min.png")
                img(src="assets/img/chips-min.png")

#crispycukys-burger-ingredients.lightbox
    ul.ingredients
        h3 Ingredientes hamburguesa crispy-cukys:
        each crispyCukysIngredients in crispyCukysBurgerIngredients
            li= crispyCukysIngredients
        center
            h4 Alérgenos:
            img.ingredients__allergen(src='assets/img/gallery/gluten.svg' alt='gluten')
            img.ingredients__allergen(src='assets/img/gallery/sesameGrains.svg' alt='sesame grains')
            img.ingredients__allergen(src='assets/img/gallery/dairyProducts.svg' alt='dairy products')
            img.ingredients__allergen(src='assets/img/gallery/sulfurDioxideSulphites.svg' alt='sulfur dioxide sulphites')

            h3 Con menú:
            p Hamburguesa Crispy-Cukys +Bebida +Patatas
            p 5,00€
            .ingredients__img
                img(src="assets/img/burger-min.png")
                img(src="assets/img/drink-min.png")
                img(src="assets/img/chips-min.png")

#egg-burger-ingredients.lightbox
    ul.ingredients
        h3 Ingredientes hamburguesa con huevo:
        each eggIngredients in eggBurgerIngredients
            li= eggIngredients
        center
            h4 Alérgenos:
            img.ingredients__allergen(src='assets/img/gallery/gluten.svg' alt='gluten')
            img.ingredients__allergen(src='assets/img/gallery/egg.svg' alt='egg')
            img.ingredients__allergen(src='assets/img/gallery/sesameGrains.svg' alt='sesame grains')
            img.ingredients__allergen(src='assets/img/gallery/sulfurDioxideSulphites.svg' alt='sulfur dioxide sulphites')

            h3 Con menú:
            p Hamburguesa con huevo +Bebida +Patatas
            p 5,50€
            .ingredients__img
                img(src="assets/img/burger-min.png")
                img(src="assets/img/drink-min.png")
                img(src="assets/img/chips-min.png")

#bacon-burger-ingredients.lightbox
    ul.ingredients
        h3 Ingredientes hamburguesa con bacon:
        each baconIngredients in baconBurgerIngredients
            li= baconIngredients
        center
            h4 Alérgenos:
            img.ingredients__allergen(src='assets/img/gallery/gluten.svg' alt='gluten')
            img.ingredients__allergen(src='assets/img/gallery/sesameGrains.svg' alt='sesame grains')
            img.ingredients__allergen(src='assets/img/gallery/sulfurDioxideSulphites.svg' alt='sulfur dioxide sulphites')

            h3 Con menú:
            p Hamburguesa con bacon +Bebida +Patatas
            p 5,50€
            .ingredients__img
                img(src="assets/img/burger-min.png")
                img(src="assets/img/drink-min.png")
                img(src="assets/img/chips-min.png")

#cheese-burger-ingredients.lightbox
    ul.ingredients
        h3 Ingredientes hamburguesa con queso:
        each cheeseIngredients in cheeseBurgerIngredients
            li= cheeseIngredients
        center
            h4 Alérgenos:
            img.ingredients__allergen(src='assets/img/gallery/gluten.svg' alt='gluten')
            img.ingredients__allergen(src='assets/img/gallery/dairyProducts.svg' alt='dairy products')
            img.ingredients__allergen(src='assets/img/gallery/sesameGrains.svg' alt='sesame grains')
            img.ingredients__allergen(src='assets/img/gallery/sulfurDioxideSulphites.svg' alt='sulfur dioxide sulphites')

            h3 Con menú:
            p Hamburguesa con queso +Bebida +Patatas
            p 5,50€
            .ingredients__img
                img(src="assets/img/burger-min.png")
                img(src="assets/img/drink-min.png")
                img(src="assets/img/chips-min.png")

#super-burger-ingredients.lightbox
    ul.ingredients
        h3 Ingredientes hamburguesa super:
        each superIngredients in superBurgerIngredients
            li= superIngredients
        center
            h4 Alérgenos:
            img.ingredients__allergen(src='assets/img/gallery/gluten.svg' alt='gluten')
            img.ingredients__allergen(src='assets/img/gallery/egg.svg' alt='egg')
            img.ingredients__allergen(src='assets/img/gallery/dairyProducts.svg' alt='dairy products')
            img.ingredients__allergen(src='assets/img/gallery/sesameGrains.svg' alt='sesame grains')
            img.ingredients__allergen(src='assets/img/gallery/sulfurDioxideSulphites.svg' alt='sulfur dioxide sulphites')

            h3 Con menú:
            p Hamburguesa super +Bebida +Patatas
            p 6,50€
            .ingredients__img
                img(src="assets/img/burger-min.png")
                img(src="assets/img/drink-min.png")
                img(src="assets/img/chips-min.png")

#premiumbovine-burger-ingredients.lightbox
    ul.ingredients
        h3 Ingredientes hamburguesa premium vacuno:
        each premiumBovineIngredients in premiumBovineBurgerIngredients
            li= premiumBovineIngredients
        center
            h4 Alérgenos:
            img.ingredients__allergen(src='assets/img/gallery/gluten.svg' alt='gluten')
            img.ingredients__allergen(src='assets/img/gallery/sesameGrains.svg' alt='sesame grains')
            img.ingredients__allergen(src='assets/img/gallery/sulfurDioxideSulphites.svg' alt='sulfur dioxide sulphites')

            h3 Con menú:
            p Hamburguesa premium vacuno +Bebida +Patatas
            p 5,70€
            .ingredients__img
                img(src="assets/img/burger-min.png")
                img(src="assets/img/drink-min.png")
                img(src="assets/img/chips-min.png")

#burgerxl-burger-ingredients.lightbox
    ul.ingredients
        h3 Ingredientes hamburguesa XL:
        each burgerXLIngredients in burgerXLBurgerIngredients
            li= burgerXLIngredients
        center
            h4 Alérgenos:
            img.ingredients__allergen(src='assets/img/gallery/gluten.svg' alt='gluten')
            img.ingredients__allergen(src='assets/img/gallery/sesameGrains.svg' alt='sesame grains')
            img.ingredients__allergen(src='assets/img/gallery/sulfurDioxideSulphites.svg' alt='sulfur dioxide sulphites')

            h3 Con menú:
            p Hamburguesa XL +Bebida +Patatas
            p 5,30€
            .ingredients__img
                img(src="assets/img/burger-min.png")
                img(src="assets/img/drink-min.png")
                img(src="assets/img/chips-min.png")
