.products
    h2 Entrantes
.products__items
    ol
        each starter in starters
            li
                span.item1= starter
                button.item2(type="button" id="info-starter-" + starters.indexOf(starter) data-name="starter")= starter!=='gambas rebozadas'?'HAZLO MENÚ / +INFO':'+INFO'
                    i.fas.fa-hand-pointer
                span.item3= priceStarters[starters.indexOf(starter)]
    .products__image
        img(src="assets/img/fried.png" alt="starter")
.products
    h2 Patatas
.products__items
    ol
        li
            span.item1= chips[0]
            span.item3= priceChips[0]
                .item4
                    img.ingredients__allergen2(src='assets/img/gallery/gluten.svg' alt='gluten')
                    img.ingredients__allergen2(src='assets/img/gallery/egg.svg' alt='egg')
                    img.ingredients__allergen2(src='assets/img/gallery/sulfurDioxideSulphites.svg' alt='sulfur dioxide sulphites')
        li
            span.item1= chips[1]
            span.item3= priceChips[1]
                .item4
                    img.ingredients__allergen2(src='assets/img/gallery/gluten.svg' alt='gluten')
                    img.ingredients__allergen2(src='assets/img/gallery/sulfurDioxideSulphites.svg' alt='sulfur dioxide sulphites')
        li
            span.item1= chips[2]
            span.item3= priceChips[2]
                .item4
                    img.ingredients__allergen2(src='assets/img/gallery/gluten.svg' alt='gluten')
                    img.ingredients__allergen2(src='assets/img/gallery/dairyProducts.svg' alt='dairy products')
                    img.ingredients__allergen2(src='assets/img/gallery/sulfurDioxideSulphites.svg' alt='sulfur dioxide sulphites')
        li
            span.item1= chips[3]
            span.item3= priceChips[3]
                .item4
                    img.ingredients__allergen2(src='assets/img/gallery/gluten.svg' alt='gluten')
                    img.ingredients__allergen2(src='assets/img/gallery/dairyProducts.svg' alt='dairy products')
                    img.ingredients__allergen2(src='assets/img/gallery/sulfurDioxideSulphites.svg' alt='sulfur dioxide sulphites')
        li
            span.item1= chips[4]
            span.item3= priceChips[4]
                .item4
                    img.ingredients__allergen2(src='assets/img/gallery/gluten.svg' alt='gluten')
                    img.ingredients__allergen2(src='assets/img/gallery/sulfurDioxideSulphites.svg' alt='sulfur dioxide sulphites')
    .products__image
        img(src="assets/img/chips.png" alt="chips")
.products
    h2 Hamburguesas
.products__items
    ol
        each burger in burgers
            li
                span.item1= burger
                button.item2(type="button" id="info-burger-"+burgers.indexOf(burger) data-name="burger") HAZLO MENÚ / +INFO
                    i.fas.fa-hand-pointer
                span.item3= priceBurgers[burgers.indexOf(burger)]
    .products__image
        img(src="assets/img/burger.png" alt="burger")
.products
    h2 Guitarras
.products__items
    ol
        each guitar in guitars
            li
                span.item1= guitar
                button.item2(type="button" id="info-guitar-" + guitars.indexOf(guitar) data-name="guitar") HAZLO MENÚ / +INFO
                    i.fas.fa-hand-pointer
                span.item3= priceGuitars[guitars.indexOf(guitar)]
    .products__image
        img(src="assets/img/guitar.png" alt="guitar")
.products
    h2 Baguettes
.products__items
    ol
        each baguette in baguettes
            li
                span.item1= baguette
                button.item2(type="button" id="info-baguette-" + baguettes.indexOf(baguette) data-name="baguette") HAZLO MENÚ / +INFO
                    i.fas.fa-hand-pointer
                span.item3= priceBaguettes[baguettes.indexOf(baguette)]
    .products__image
        img(src="assets/img/baguette.png" alt="baguette")
.products
    h2 Pizzas
.products__items
    ol
        each pizza in pizzas
            li
                span.item1= pizza
                button.item2(type="button" id="info-pizza-" + pizzas.indexOf(pizza) data-name="pizza") HAZLO MENÚ / +INFO
                    i.fas.fa-hand-pointer
                span.item3= pricePizzas[pizzas.indexOf(pizza)]
    .products__image
        img(src="assets/img/pizza.png" alt="pizza")
.products
    h2 Panini
.products__items
    ol
        each panini in paninis
            li
                span.item1= panini
                button.item2(type="button" id="info-panini-" + paninis.indexOf(panini) data-name="panini") HAZLO MENÚ / +INFO
                    i.fas.fa-hand-pointer
                span.item3= pricePaninis[paninis.indexOf(panini)]
    .products__image
        img(src="assets/img/panini.png" alt="panini")
.products
    h2 Sandwiches
.products__items
    ol
        each sandwich in sandwiches
            li
                span.item1= sandwich
                button.item2(type="button" id="info-sandwich-" + sandwiches.indexOf(sandwich) data-name="sandwich") HAZLO MENÚ / +INFO
                    i.fas.fa-hand-pointer
                span.item3= priceSandwiches[sandwiches.indexOf(sandwich)]
    .products__image
        img(src="assets/img/sandwich.png" alt="sandwich")
.products
    h2 Perrito Caliente
.products__items
    ol
        each hotDog in hotDogs
            li
                span.item1= hotDog
                button.item2(type="button" id="info-hotdog-" + hotDogs.indexOf(hotDog) data-name="hotdog") HAZLO MENÚ / +INFO
                    i.fas.fa-hand-pointer
                span.item3= priceHotDogs[hotDogs.indexOf(hotDog)]
    .products__image
        img(src="assets/img/hotdog.png" alt="hot dog")
.products
    h2 Kebab
.products__items
    ol
        each kebab in kebabs
            li
                span.item1= kebab
                button.item2(type="button" id="info-kebab-" + kebabs.indexOf(kebab) data-name="kebab") HAZLO MENÚ / +INFO
                    i.fas.fa-hand-pointer
                span.item3= priceKebabs[kebabs.indexOf(kebab)]
    .products__image
        img(src="assets/img/kebab.png" alt="kebab")
.products
    h2 Gofres
.products__items
    ol
        li
            span.item1= waffles[0]
            span.item3= priceWaffles[0]
                .item4
                    img.ingredients__allergen2(src='assets/img/gallery/gluten.svg' alt='gluten')
                    img.ingredients__allergen2(src='assets/img/gallery/egg.svg' alt='egg')
                    img.ingredients__allergen2(src='assets/img/gallery/peanuts.svg' alt='peanuts')
                    img.ingredients__allergen2(src='assets/img/gallery/dairyProducts.svg' alt='dairy products')
                    img.ingredients__allergen2(src='assets/img/gallery/peelFruits.svg' alt='peel fruits')
                    img.ingredients__allergen2(src='assets/img/gallery/lupins.svg' alt='lupins')
        li
            span.item1= waffles[1]
            span.item3= priceWaffles[1]
                .item4
                    img.ingredients__allergen2(src='assets/img/gallery/gluten.svg' alt='gluten')
                    img.ingredients__allergen2(src='assets/img/gallery/peanuts.svg' alt='peanuts')
                    img.ingredients__allergen2(src='assets/img/gallery/dairyProducts.svg' alt='dairy products')
                    img.ingredients__allergen2(src='assets/img/gallery/peelFruits.svg' alt='peel fruits')
                    img.ingredients__allergen2(src='assets/img/gallery/egg.svg' alt='egg')
                    img.ingredients__allergen2(src='assets/img/gallery/sulfurDioxideSulphites.svg' alt='sulfur dioxide sulphites')
    .products__image
        img(src="assets/img/waffle.png" alt="waffle")
.products
    h2 Crepes
.products__items
    ol
        li
            span.item1= crepes[0]
            span.item3= priceCrepes[0]
                .item4
                    img.ingredients__allergen2(src='assets/img/gallery/gluten.svg' alt='gluten')
                    img.ingredients__allergen2(src='assets/img/gallery/egg.svg' alt='egg')
                    img.ingredients__allergen2(src='assets/img/gallery/peanuts.svg' alt='peanuts')
                    img.ingredients__allergen2(src='assets/img/gallery/dairyProducts.svg' alt='dairy products')
                    img.ingredients__allergen2(src='assets/img/gallery/peelFruits.svg' alt='peel fruits')
                    img.ingredients__allergen2(src='assets/img/gallery/lupins.svg' alt='lupins')
        li
            span.item1= crepes[1]
            span.item3= priceCrepes[1]
                .item4
                    img.ingredients__allergen2(src='assets/img/gallery/gluten.svg' alt='gluten')
                    img.ingredients__allergen2(src='assets/img/gallery/egg.svg' alt='egg')
                    img.ingredients__allergen2(src='assets/img/gallery/peanuts.svg' alt='peanuts')
                    img.ingredients__allergen2(src='assets/img/gallery/dairyProducts.svg' alt='dairy products')
                    img.ingredients__allergen2(src='assets/img/gallery/peelFruits.svg' alt='peel fruits')
                    img.ingredients__allergen2(src='assets/img/gallery/lupins.svg' alt='lupins')
                    img.ingredients__allergen2(src='assets/img/gallery/sulfurDioxideSulphites.svg' alt='sulfur dioxide sulphites')
        li
            span.item1= crepes[2]
            span.item3= priceCrepes[2]
                .item4
                    img.ingredients__allergen2(src='assets/img/gallery/gluten.svg' alt='gluten')
                    img.ingredients__allergen2(src='assets/img/gallery/egg.svg' alt='egg')
                    img.ingredients__allergen2(src='assets/img/gallery/peanuts.svg' alt='peanuts')
                    img.ingredients__allergen2(src='assets/img/gallery/dairyProducts.svg' alt='dairy products')
                    img.ingredients__allergen2(src='assets/img/gallery/peelFruits.svg' alt='peel fruits')
                    img.ingredients__allergen2(src='assets/img/gallery/lupins.svg' alt='lupins')
        li
            span.item1= crepes[3]
            span.item3= priceCrepes[3]
                .item4
                    img.ingredients__allergen2(src='assets/img/gallery/gluten.svg' alt='gluten')
                    img.ingredients__allergen2(src='assets/img/gallery/egg.svg' alt='egg')
                    img.ingredients__allergen2(src='assets/img/gallery/peanuts.svg' alt='peanuts')
                    img.ingredients__allergen2(src='assets/img/gallery/dairyProducts.svg' alt='dairy products')
                    img.ingredients__allergen2(src='assets/img/gallery/peelFruits.svg' alt='peel fruits')
                    img.ingredients__allergen2(src='assets/img/gallery/lupins.svg' alt='lupins')
        li
            span.item1= crepes[4]
            span.item3= priceCrepes[4]
                .item4
                    img.ingredients__allergen2(src='assets/img/gallery/gluten.svg' alt='gluten')
                    img.ingredients__allergen2(src='assets/img/gallery/egg.svg' alt='egg')
                    img.ingredients__allergen2(src='assets/img/gallery/peanuts.svg' alt='peanuts')
                    img.ingredients__allergen2(src='assets/img/gallery/dairyProducts.svg' alt='dairy products')
                    img.ingredients__allergen2(src='assets/img/gallery/peelFruits.svg' alt='peel fruits')
                    img.ingredients__allergen2(src='assets/img/gallery/lupins.svg' alt='lupins')
        li
            span.item1= crepes[5]
            span.item3= priceCrepes[5]
                .item4
                    img.ingredients__allergen2(src='assets/img/gallery/gluten.svg' alt='gluten')
                    img.ingredients__allergen2(src='assets/img/gallery/dairyProducts.svg' alt='dairy products')
    .products__image
        img(src="assets/img/crepe.png" alt="crepe")
.products
    h2 Helados
.products__items
    ol
        li
            span.item1= iceCreams[0]
            span.item3= priceIceCreams[0]
                .item4
                    img.ingredients__allergen2(src='assets/img/gallery/egg.svg' alt='egg')
                    img.ingredients__allergen2(src='assets/img/gallery/dairyProducts.svg' alt='dairy products')
                    img.ingredients__allergen2(src='assets/img/gallery/sulfurDioxideSulphites.svg' alt='sulfur dioxide sulphites')
        li
            span.item1= iceCreams[1]
            span.item3= priceIceCreams[1]
                .item4
                    img.ingredients__allergen2(src='assets/img/gallery/egg.svg' alt='egg')
                    img.ingredients__allergen2(src='assets/img/gallery/dairyProducts.svg' alt='dairy products')
                    img.ingredients__allergen2(src='assets/img/gallery/sulfurDioxideSulphites.svg' alt='sulfur dioxide sulphites')
        li
            span.item1= iceCreams[2]
            span.item3= priceIceCreams[2]
                .item4
                    img.ingredients__allergen2(src='assets/img/gallery/egg.svg' alt='egg')
                    img.ingredients__allergen2(src='assets/img/gallery/dairyProducts.svg' alt='dairy products')
                    img.ingredients__allergen2(src='assets/img/gallery/sulfurDioxideSulphites.svg' alt='sulfur dioxide sulphites')
        li
            span.item1= iceCreams[3]
            span.item3= priceIceCreams[3]
                .item4
                    img.ingredients__allergen2(src='assets/img/gallery/egg.svg' alt='egg')
                    img.ingredients__allergen2(src='assets/img/gallery/dairyProducts.svg' alt='dairy products')
                    img.ingredients__allergen2(src='assets/img/gallery/sulfurDioxideSulphites.svg' alt='sulfur dioxide sulphites')
        li
            span.item1= iceCreams[4]
            span.item3= priceIceCreams[4]
                .item4
                    img.ingredients__allergen2(src='assets/img/gallery/dairyProducts.svg' alt='dairy products')
                    img.ingredients__allergen2(src='assets/img/gallery/sulfurDioxideSulphites.svg' alt='sulfur dioxide sulphites')
        li
            span.item1= iceCreams[5]
            span.item3= priceIceCreams[5]
                .item4

        li
            span.item1= iceCreams[6]
            span.item3= priceIceCreams[6]
                .item4
                    img.ingredients__allergen2(src='assets/img/gallery/dairyProducts.svg' alt='dairy products')
                    img.ingredients__allergen2(src='assets/img/gallery/sulfurDioxideSulphites.svg' alt='sulfur dioxide sulphites')
        button.item2.flavors(type="button" id="info-icecream" data-name="flavor") VER SABORES
            i.fas.fa-hand-pointer
    .products__image
        img(src="assets/img/icecream.png" alt="ice cream")
.products
    h2 Bebidas
.products__items
    ol
        each drink in drinks
            li
                span.item1= drink
                span.item3= priceDrinks[drinks.indexOf(drink)]
    .products__image
        img(src="assets/img/drink.png" alt="drink")
