#margarita-pizza-ingredients.lightbox
    ul.ingredients
        h3 Ingredientes pizza de margarita:
        each margaritaIngredients in margaritaPizzaIngredients
            li= margaritaIngredients
        center
            h4 Alérgenos:
            img.ingredients__allergen(src='assets/img/gallery/gluten.svg' alt='gluten')
            img.ingredients__allergen(src='assets/img/gallery/dairyProducts.svg' alt='dairy products')
            img.ingredients__allergen(src='assets/img/gallery/sulfurDioxideSulphites.svg' alt='sulfur dioxide sulphites')

#campera-pizza-ingredients.lightbox
    ul.ingredients
        h3 Ingredientes pizza de margarita:
        each camperaIngredients in camperaPizzaIngredients
            li= camperaIngredients
        center
            h4 Alérgenos:
            img.ingredients__allergen(src='assets/img/gallery/gluten.svg' alt='gluten')
            img.ingredients__allergen(src='assets/img/gallery/dairyProducts.svg' alt='dairy products')
            img.ingredients__allergen(src='assets/img/gallery/sulfurDioxideSulphites.svg' alt='sulfur dioxide sulphites')

#mince-pizza-ingredients.lightbox
    ul.ingredients
        h3 Ingredientes pizza de carne picada:
        each minceIngredients in mincePizzaIngredients
            li= minceIngredients
        center
            h4 Alérgenos:
            img.ingredients__allergen(src='assets/img/gallery/gluten.svg' alt='gluten')
            img.ingredients__allergen(src='assets/img/gallery/dairyProducts.svg' alt='dairy products')
            img.ingredients__allergen(src='assets/img/gallery/sulfurDioxideSulphites.svg' alt='sulfur dioxide sulphites')

#crab-pizza-ingredients.lightbox
    ul.ingredients
        h3 Ingredientes pizza de cangrejo:
        each crabIngredients in crabPizzaIngredients
            li= crabIngredients
        center
            h4 Alérgenos:
            img.ingredients__allergen(src='assets/img/gallery/gluten.svg' alt='gluten')
            img.ingredients__allergen(src='assets/img/gallery/crustaceans.svg' alt='crustaceans')
            img.ingredients__allergen(src='assets/img/gallery/fish.svg' alt='fish')
            img.ingredients__allergen(src='assets/img/gallery/dairyProducts.svg' alt='dairy products')
            img.ingredients__allergen(src='assets/img/gallery/sulfurDioxideSulphites.svg' alt='sulfur dioxide sulphites')

#bacon-pizza-ingredients.lightbox
    ul.ingredients
        h3 Ingredientes pizza de bacon:
        each baconIngredients in baconPizzaIngredients
            li= baconIngredients
        center
            h4 Alérgenos:
            img.ingredients__allergen(src='assets/img/gallery/gluten.svg' alt='gluten')
            img.ingredients__allergen(src='assets/img/gallery/dairyProducts.svg' alt='dairy products')
            img.ingredients__allergen(src='assets/img/gallery/sulfurDioxideSulphites.svg' alt='sulfur dioxide sulphites')
