#margarita-pizza-ingredients.lightbox
    ul.ingredients
        h3 Ingredientes pizza de margarita:
        each margaritaIngredients in margaritaPizzaIngredients
            li= margaritaIngredients
        center
            h4 Alérgenos:
            img.ingredients__allergen(src='assets/img/gallery/gluten.svg' alt='gluten')
            img.ingredients__allergen(src='assets/img/gallery/dairyProducts.svg' alt='dairy products')
            img.ingredients__allergen(src='assets/img/gallery/sulfurDioxideSulphites.svg' alt='sulfur dioxide sulphites')

            h3 Con menú:
                p Pizza margarita +Bebida +Patatas
                p 5,50€
                .ingredients__img
                    img(src="assets/img/pizza-min.png")
                    img(src="assets/img/drink-min.png")
                    img(src="assets/img/chips-min.png")

#campera-pizza-ingredients.lightbox
    ul.ingredients
        h3 Ingredientes pizza de margarita:
        each camperaIngredients in camperaPizzaIngredients
            li= camperaIngredients
        center
            h4 Alérgenos:
            img.ingredients__allergen(src='assets/img/gallery/gluten.svg' alt='gluten')
            img.ingredients__allergen(src='assets/img/gallery/dairyProducts.svg' alt='dairy products')
            img.ingredients__allergen(src='assets/img/gallery/sulfurDioxideSulphites.svg' alt='sulfur dioxide sulphites')

            h3 Con menú:
                p Pizza campera +Bebida +Patatas
                p 5,50€
                .ingredients__img
                    img(src="assets/img/pizza-min.png")
                    img(src="assets/img/drink-min.png")
                    img(src="assets/img/chips-min.png")

#mince-pizza-ingredients.lightbox
    ul.ingredients
        h3 Ingredientes pizza de carne picada:
        each minceIngredients in mincePizzaIngredients
            li= minceIngredients
        center
            h4 Alérgenos:
            img.ingredients__allergen(src='assets/img/gallery/gluten.svg' alt='gluten')
            img.ingredients__allergen(src='assets/img/gallery/dairyProducts.svg' alt='dairy products')
            img.ingredients__allergen(src='assets/img/gallery/sulfurDioxideSulphites.svg' alt='sulfur dioxide sulphites')

            h3 Con menú:
                p Pizza de carne picada +Bebida +Patatas
                p 5,50€
                .ingredients__img
                    img(src="assets/img/pizza-min.png")
                    img(src="assets/img/drink-min.png")
                    img(src="assets/img/chips-min.png")

#crab-pizza-ingredients.lightbox
    ul.ingredients
        h3 Ingredientes pizza de cangrejo:
        each crabIngredients in crabPizzaIngredients
            li= crabIngredients
        center
            h4 Alérgenos:
            img.ingredients__allergen(src='assets/img/gallery/gluten.svg' alt='gluten')
            img.ingredients__allergen(src='assets/img/gallery/crustaceans.svg' alt='crustaceans')
            img.ingredients__allergen(src='assets/img/gallery/fish.svg' alt='fish')
            img.ingredients__allergen(src='assets/img/gallery/dairyProducts.svg' alt='dairy products')
            img.ingredients__allergen(src='assets/img/gallery/sulfurDioxideSulphites.svg' alt='sulfur dioxide sulphites')

            h3 Con menú:
                p Pizza de cangrejo +Bebida +Patatas
                p 5,50€
                .ingredients__img
                    img(src="assets/img/pizza-min.png")
                    img(src="assets/img/drink-min.png")
                    img(src="assets/img/chips-min.png")

#bacon-pizza-ingredients.lightbox
    ul.ingredients
        h3 Ingredientes pizza de bacon:
        each baconIngredients in baconPizzaIngredients
            li= baconIngredients
        center
            h4 Alérgenos:
            img.ingredients__allergen(src='assets/img/gallery/gluten.svg' alt='gluten')
            img.ingredients__allergen(src='assets/img/gallery/dairyProducts.svg' alt='dairy products')
            img.ingredients__allergen(src='assets/img/gallery/sulfurDioxideSulphites.svg' alt='sulfur dioxide sulphites')

            h3 Con menú:
                p Pizza de bacon +Bebida +Patatas
                p 5,50€
                .ingredients__img
                    img(src="assets/img/pizza-min.png")
                    img(src="assets/img/drink-min.png")
                    img(src="assets/img/chips-min.png")

#kebab-pizza-ingredients.lightbox
    ul.ingredients
        h3 Ingredientes pizza de kebab:
        each kebabIngredients in kebabPizzaIngredients
            li= kebabIngredients
        center
            h4 Alérgenos:
            img.ingredients__allergen(src='assets/img/gallery/gluten.svg' alt='gluten')
            img.ingredients__allergen(src='assets/img/gallery/dairyProducts.svg' alt='dairy products')
            img.ingredients__allergen(src='assets/img/gallery/sulfurDioxideSulphites.svg' alt='sulfur dioxide sulphites')

            h3 Con menú:
                p Pizza de kebab +Bebida +Patatas
                p 5,50€
                .ingredients__img
                    img(src="assets/img/pizza-min.png")
                    img(src="assets/img/drink-min.png")
                    img(src="assets/img/chips-min.png")

#frankfurt-pizza-ingredients.lightbox
    ul.ingredients
        h3 Ingredientes pizza de frankfurt:
        each frankfurtIngredients in frankfurtPizzaIngredients
            li= frankfurtIngredients
        center
            h4 Alérgenos:
            img.ingredients__allergen(src='assets/img/gallery/gluten.svg' alt='gluten')
            img.ingredients__allergen(src='assets/img/gallery/dairyProducts.svg' alt='dairy products')
            img.ingredients__allergen(src='assets/img/gallery/sulfurDioxideSulphites.svg' alt='sulfur dioxide sulphites')

            h3 Con menú:
                p Pizza de frankfurt +Bebida +Patatas
                p 5,50€
                .ingredients__img
                    img(src="assets/img/pizza-min.png")
                    img(src="assets/img/drink-min.png")
                    img(src="assets/img/chips-min.png")

#fourcheese-pizza-ingredients.lightbox
    ul.ingredients
        h3 Ingredientes pizza de cuatro quesos:
        each fourCheeseIngredients in fourCheesePizzaIngredients
            li= fourCheeseIngredients
        center
            h4 Alérgenos:
            img.ingredients__allergen(src='assets/img/gallery/gluten.svg' alt='gluten')
            img.ingredients__allergen(src='assets/img/gallery/dairyProducts.svg' alt='dairy products')
            img.ingredients__allergen(src='assets/img/gallery/sulfurDioxideSulphites.svg' alt='sulfur dioxide sulphites')

            h3 Con menú:
                p Pizza de cuatro quesos +Bebida +Patatas
                p 5,50€
                .ingredients__img
                    img(src="assets/img/pizza-min.png")
                    img(src="assets/img/drink-min.png")
                    img(src="assets/img/chips-min.png")

#chickenbacon-pizza-ingredients.lightbox
    ul.ingredients
        h3 Ingredientes pizza de pollo y bacon:
        each chickenBaconIngredients in chickenBaconPizzaIngredients
            li= chickenBaconIngredients
        center
            h4 Alérgenos:
            img.ingredients__allergen(src='assets/img/gallery/gluten.svg' alt='gluten')
            img.ingredients__allergen(src='assets/img/gallery/dairyProducts.svg' alt='dairy products')
            img.ingredients__allergen(src='assets/img/gallery/sulfurDioxideSulphites.svg' alt='sulfur dioxide sulphites')

            h3 Con menú:
                p Pizza de pollo y bacon +Bebida +Patatas
                p 5,50€
                .ingredients__img
                    img(src="assets/img/pizza-min.png")
                    img(src="assets/img/drink-min.png")
                    img(src="assets/img/chips-min.png")

#mini-pizza-ingredients.lightbox
    ul.ingredients
        h3 Ingredientes mini-pizza:
        each miniIngredients in miniPizzaIngredients
            li= miniIngredients
        center
            h4 Alérgenos:
            img.ingredients__allergen(src='assets/img/gallery/gluten.svg' alt='gluten')
            img.ingredients__allergen(src='assets/img/gallery/dairyProducts.svg' alt='dairy products')
            img.ingredients__allergen(src='assets/img/gallery/sulfurDioxideSulphites.svg' alt='sulfur dioxide sulphites')

            h3 Con menú:
                p Pizza mini-pizza +Bebida +Patatas
                p 3,50€
                .ingredients__img
                    img(src="assets/img/pizza-min.png")
                    img(src="assets/img/drink-min.png")
                    img(src="assets/img/chips-min.png")
